<!DOCTYPE html>
<html>
    <head>
        <title>Ji-admin-home</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap-overrides.css"/>

        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="../static/css/compiled/layout.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/compiled/elements.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/compiled/icons.css"/>

        <!-- libraries -->
        <link rel="stylesheet" type="text/css" href="../static/css/lib/jquery-ui-1.10.2.custom.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/lib/font-awesome.css"/>

        <!-- this page specific styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/compiled/index.css"/>

        <!-- open sans font -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800'/>

        <!-- lato font -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic'/>

        <!-- choose deep color skin in nav -->
        <link rel="stylesheet" type="text/css" id="skin-file" href="../static/css/compiled/skins/dark.css">

        <!--[if lt IE 9]-->
        <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
    </head>
    <body>
        <!-- navbar -->
        <header class="navbar navbar-inverse" role="banner">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin-home"><h2>Ji Admin</h2></a>
            </div>
            <ul class="nav navbar-nav pull-right hidden-xs">
                <li class="dropdown">
                    <a id="a-username" href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">账号设置</a></li>
                    </ul>
                </li>
                <li class="settings hidden-xs hidden-sm">
                    <a href="#" role="button">
                        <i class="icon-cog"></i>
                    </a>
                </li>
                <li class="settings hidden-xs hidden-sm">
                    <a href="#" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>
        </header>
        <!-- end navbar -->

        <!-- sidebar -->
        <div id="sidebar-nav">
            <ul id="dashboard-menu">
                <li class="active">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <a href="#">
                        <i class="icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-group"></i>
                        <span>用户</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="/sys-user">系统用户列表</a></li>
                        <li><a href="role-list.html">用户角色列表</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-file"></i>
                        <span>文档</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="file-list.html">文档列表</a></li>
                        <li><a href="folder-list.html">文件夹列表</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-edit-sign"></i>
                        <span>账目</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="account-list.html">账目列表</a></li>
                        <li><a href="acc-type-list.html">账目类型列表</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end sidebar -->

        <!-- main container -->
        <div class="content">

        </div>

        <!-- scripts -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap/bootstrap.min.js"></script>
        <script src="../static/js/jquery-ui-1.10.2.custom.min.js"></script>
        <!-- knob -->
        <script src="../static/js/jquery.knob.js"></script>
        <!-- flot charts -->
        <script src="../static/js/jquery.flot.js"></script>
        <script src="../static/js/jquery.flot.stack.js"></script>
        <script src="../static/js/jquery.flot.resize.js"></script>
        <script src="../static/js/theme.js"></script>

        <script type="text/javascript">
            var str = sessionStorage.getItem("sys-user");
            var user = JSON.parse(str);
            $("#a-username").text("hello!   " + user.result.username);
        </script>
    </body>
</html>