<!DOCTYPE html>
<html>
    <head>
        <title>角色列表</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap-overrides.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap-table.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap-editable.css"/>

        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="../static/css/compiled/layout.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/compiled/elements.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/compiled/icons.css"/>

        <!-- libraries -->
        <link rel="stylesheet" type="text/css" href="../static/css/lib/font-awesome.css"/>

        <!-- this page specific styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/compiled/user-list.css"/>

        <!-- open sans font -->
        <!--<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800'/>-->

        <!-- choose deep color skin in nav -->
        <link rel="stylesheet" type="text/css" id="skin-file" href="../static/css/compiled/skins/dark.css">

        <!--[if lt IE 9]-->
        <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->

        <!-- scripts -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap/bootstrap.min.js"></script>
        <script src="../static/js/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="../static/js/bootstrap/bootstrap-table.js"></script>
        <script src="../static/js/bootstrap/bootstrap-table-zh-CN.min.js"></script>
        <script src="../static/js/bootstrap/bootstrap-table-editable.js"></script>
        <script src="../static/js/bootstrap/bootstrap-editable.js"></script>
    </head>
    <body>
        <!-- navbar -->
        <header class="navbar navbar-inverse" role="banner">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin-home"><h2>Ji Admin</h2></a>
            </div>
            <ul class="nav navbar-nav pull-right hidden-xs">
                <li class="dropdown">
                    <a id="a-username" href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">账号设置</a></li>
                    </ul>
                </li>
                <li class="settings hidden-xs hidden-sm">
                    <a href="#" role="button">
                        <i class="icon-cog"></i>
                    </a>
                </li>
                <li class="settings hidden-xs hidden-sm">
                    <a href="#" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>
        </header>
        <!-- end navbar -->

        <!-- sidebar -->
        <div id="sidebar-nav">
            <ul id="dashboard-menu">
                <li>
                    <a href="/admin-home">
                        <i class="icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-windows"></i>
                        <span>系统</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="/sys-user">系统用户列表</a></li>
                        <li><a href="/role">用户角色列表</a></li>
                        <li><a href="/advert">广告列表</a></li>
                        <li><a href="/user-advise">用户建议列表</a></li>
                    </ul>
                </li>
                <li class="active">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-group"></i>
                        <span>用户</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="active submenu">
                        <li><a href="/user" class="active">用户列表</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-file"></i>
                        <span>文档</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="/file">文档列表</a></li>
                        <li><a href="/folder">文件夹列表</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">
                        <i class="icon-edit-sign"></i>
                        <span>账目</span>
                        <i class="icon-chevron-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="/account">账目列表</a></li>
                        <li><a href="/acc-type">账目类型列表</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end sidebar -->

        <!-- main container -->
        <div class="content">
            <div id="pad-wrapper" class="users-list">
                <!-- table sample -->
                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="row head">
                    <div class="col-md-12">
                        <h4>用户</h4>
                    </div>
                </div>

                <div class="row filter-block">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            查询条件
                        </div>
                        <div class="panel-body form-group" style="margin-bottom:0px;">
                            <label class="col-sm-3 control-label" style="text-align: right; margin-top:5px">用户ID：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="userIdStr" id="search_user_id" placeholder="请输入用户ID"/>
                            </div>
                            <label class="col-sm-3 control-label" style="text-align: right; margin-top:5px">用户名：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="nicknameStr" id="search_nickname" placeholder="请输入用户名"/>
                            </div>
                            <label class="col-sm-3 control-label" style="text-align: right; margin-top:5px">创建日期：</label>
                            <div class="col-sm-2">
                                <input type="date" class="form-control" name="createTimeBeginStr" id="search_createTimeBegin"/>
                            </div>
                            <label class="col-sm-3 control-label" style="text-align: right; margin-top:5px">至</label>
                            <div class="col-sm-2">
                                <input type="date" class="form-control" name="createTimeEndStr" id="search_createTimeEnd"/>
                            </div>
                            <div class="col-sm-1 col-sm-offset-10" style="text-align: center; margin-top:5px">
                                <button class="btn btn-primary" id="search_btn">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <!-- Users table -->
                <div class="row">
                    <table id="jitable" class="table table-hover"></table>
                    <div id="toolbar" class="btn-group pull-right" style="margin-right: 20px;">
                        <button id="delete_btn" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                        </button>
                        <button id="add_btn" type="button" class="btn btn-default" onclick="window.location.href='/new-user'">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                        </button>
                    </div>
                </div>
                <!-- end users table -->
            </div>
        </div>
        <!-- end main container -->

        <script src="../static/js/theme.js"></script>
        <!-- knob -->
        <script src="../static/js/jquery.knob.js"></script>
        <!-- import common-utils js-->
        <script src="../static/js/common-utils.js"></script>
        <script type="text/javascript">
            //显示当前系统用户名
            var str = sessionStorage.getItem("sys-user");
            var user = JSON.parse(str);
            $("#a-username").text("hello!   " + user.result.username);

            //根据窗口调整表格高度
            $(window).resize(function() {
                $('#jitable').bootstrapTable('resetView', {
                    height: tableHeight()
                });
            })

            //生成用户角色数据
            $('#jitable').bootstrapTable({
                method: 'POST',
                contentType: "application/json;charset=UTF-8",//必须要有！！！！
                url:"/user/getUserList",//要请求数据的文件路径
                dataType: "json",
                height:tableHeight(),//高度调整
                toolbar: '#toolbar',//指定工具栏
                striped: true, //是否显示行间隔色
                dataField: "rows",//bootstrap table 可以前端分页也可以后端分页，这里
                //我们使用的是后端分页，后端分页时需返回含有total：总记录数,这个键值好像是固定的
                //rows： 记录集合 键值可以修改  dataField 自己定义成自己想要的就好
                pageNumber: 1, //初始化加载第一页，默认第一页
                pagination:true,//是否分页
                queryParamsType:'limit',//查询参数组织方式
                queryParams:queryParams,//请求服务器时所传的参数
                sidePagination:'server',//指定服务器端分页
                pageSize:10,//单页记录数
                pageList:[5,10,20,30],//分页步进值
                showRefresh:true,//刷新按钮
                showColumns:true,//选择要显示的列
                clickToSelect: true,//是否启用点击选中行
                toolbarAlign:'right',//工具栏对齐方式
                buttonsAlign:'right',//按钮对齐方式
                idField: "id",//设置主键
                sortable: true,//是否启用排序
                sortName: 'createTime',
                sortOrder: 'desc',
                showToggle:true,//是否显示详细视图和列表视图的切换按钮
                rowStyle:rowStatusStyle,//每行显示的颜色style
                editable:true,//开启编辑模式
                onEditableSave:function (field, row, oldValue, $el) {
                    editRowOnSave("POST", "/user/update", row);
                },//每行编辑后保存
                columns:[
                    {
                        title:'全选',
                        field:'state',
                        //复选框
                        checkbox:true,
                        width:25,
                        align:'center',
                        valign:'middle'
                    },
                    {
                        title:'ID',
                        field:'id',
                        visible:false
                    },
                    {
                        title:'用户名',
                        field:'nickName',
                        sortable:true,
                        editable:{
                            type: 'text',
                            placement: 'right'
                        }
                    },
                    {
                        title:'性别',
                        field:'gender',
                        sortable:true,
                        editable: {
                            type: 'select',
                            title: '选择性别',
                            source:[{value:1, text:"男"},{value:0, text:"女"}]
                        }
                    },
                    {
                        title:'国家',
                        field:'country',
                        sortable:true,
                        editable:true
                    },
                    {
                        title:'省份',
                        field:'province',
                        sortable:true,
                        editable:true
                    },
                    {
                        title:'城市',
                        field:'city',
                        sortable:true,
                        editable:true
                    },
                    {
                        title:'语言',
                        field:'language',
                        sortable:true,
                        editable:true
                    },
                    {
                        title:'头像',
                        field:'avatarUrl',
                        formatter: function(value, row, index){
                            if (value != null && value != "") {
                                return "<img  src='"+ value + "' width='80' height='80'>";
                            }
                        }
                    },
                    {
                        title:'备注',
                        field:'remark',
                        sortable:true,
                        editable:true
                    },
                    {
                        title:'最近登录时间',
                        field:'lastLoginTime',
                        sortable:true,
                        formatter:timeFormatter
                    },
                    {
                        title:'创建时间',
                        field:'createTime',
                        sortable:true,
                        formatter:timeFormatter
                    },
                    {
                        title:'创建帐号',
                        field:'createAccount'
                    },
                    {
                        title:'更新时间',
                        field:'updateTime',
                        formatter:timeFormatter,
                        sortable:true
                    },
                    {
                        title:'更新帐号',
                        field:'updateAccount'
                    },
                    {
                        title:'状态',
                        field:'status',
                        align:'center',
                        editable: {
                            type: 'select',
                            title: '选择状态',
                            source:[{value:"y",text:"启用"},{value:"n",text:"停用"}]
                        }
                    }
                ],
                locale:'zh-CN',//中文支持,
                responseHandler:function(res){
                    return {
                        //远程数据加载之前,处理程序响应数据格式,对象包含的参数: 我们可以对返回的数据格式进行处理
                        "rows": res.list,
                        "total": res.total
                    };
                }
            })

            //请求服务数据时所传参数
            function queryParams(params){
                return JSON.stringify({
                    //请求第几页
                    pageIndex: params.offset,
                    //每页多少条数据
                    pageSize: params.limit,
                    id: $('#search_user_id').val(),
                    nickName: $('#search_nickname').val(),
                    createTimeBegin: $('#search_createTimeBegin').val(),
                    createTimeEnd: $('#search_createTimeEnd').val(),
                    sort: params.sort,
                    order: params.order
                })
            }

            //tableHeight函数
            function tableHeight(){
                //可以根据自己页面情况进行调整
                return $(window).height();
            }

            //查询按钮事件
            $('#search_btn').click(function () {
                tableFresh("jitable", "/user/getUserList");
            })

            //批量删除事件
            $('#delete_btn').click(function () {
                batchDelete("jitable", "delete_btn", "POST", "/user/removeList", "/user/getUserList");
            })

        </script>
    </body>
</html>
