<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.ji.dao.account.AccountMapper">
  <resultMap id="BaseResultMap" type="com.mc.ji.model.account.AccountDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="account_type_id" jdbcType="VARCHAR" property="accountTypeId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_account" jdbcType="VARCHAR" property="createAccount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_account" jdbcType="VARCHAR" property="updateAccount" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="AccountVOResultMap" type="com.mc.ji.common.vo.AccountVO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="account_type_id" jdbcType="VARCHAR" property="accountTypeId" />
    <result column="account_type_name" jdbcType="VARCHAR" property="accountTypeName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_account" jdbcType="VARCHAR" property="createAccount" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_account" jdbcType="VARCHAR" property="updateAccount" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>

  <sql id="selectAccountVOALL">
    SELECT a.id, a.title, a.action, a.amount, a.account_type_id, t.name AS account_type_name, a.status, a.create_account, DATE_FORMAT(a.create_time, '%Y-%m-%d %T') AS create_time, a.update_account, DATE_FORMAT(a.update_time, '%Y-%m-%d %T') AS update_time
    FROM ji_account a LEFT JOIN ji_account_type t ON a.account_type_id = t.id
  </sql>

  <select id="getAccountVOList" resultMap="AccountVOResultMap">
    <include refid="selectAccountVOALL" />
    <where>
      <if test="title != null and '' != title">
        AND a.title LIKE CONCAT(CONCAT('%', #{title}), '%')
      </if>
      <if test="action != null and '' != action">
        AND a.action LIKE CONCAT(CONCAT('%', #{action}), '%')
      </if>
      <if test="createAccount != null and '' != createAccount">
        AND a.create_account LIKE CONCAT(CONCAT('%', #{createAccount}), '%')
      </if>
      <if test="createTimeBegin != null and '' != createTimeBegin">
        <![CDATA[
          AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{createTimeBegin}, '%Y-%m-%d')
        ]]>
      </if>
      <if test="createTimeEnd != null and '' != createTimeEnd">
        <![CDATA[
          AND DATE_FORMAT(a.create_time, '%Y-%m-%d') <= DATE_FORMAT(#{createTimeEnd}, '%Y-%m-%d')
        ]]>
      </if>
    </where>
    ORDER BY ${sortName} ${sortOrder}
  </select>

</mapper>